*.DS_Store
.ipynb_checkpoints
*.pyc
external
cachedir
ipyNb
*.brf
*.log
*.key
*.out
*.gz
*.t*gz
*.blg
*.aux
*.bbl
*.fls
*.pdf
*.texnicle
*.fdb_latexmk
*.sw*
core
octave-workspace
p3d_segkps*

# stuff related to CUB
CUB_200_2011/
attributes.txt
*.orig
*.old
*.dist
