absl-py
Cython
h5py
imageio
matplotlib
meshzoo
numpy
opencv-python
Pillow
PyOpenGL
scikit-image
scipy
torchfile
visdom
neural-renderer-pytorch
git+https://github.com/dustymugs/PerceptualSimilarity.git
ipdb
